env

*.pyc
__pycache__/
*.tar

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode
workspace.code-workspace
matlab/
images/
debug/

# FastHenry files
output.log
coil_track_FH2_input.inp
Zc*.mat

# Output files in top directory
*.stl
