numpy==1.21.6

# Note: Also need BLAS and gfortran to install scipy
# sudo apt-get install libopenblas-dev
# sudo apt install gfortran
scipy==1.7.3

# For Mesh support
trimesh==3.21.7
# Missing Trimesh dependency
networkx==2.6.3

# For target field calculations
sympy==1.10.1

# For visualisation of matrices
pillow<=9.5
matplotlib==3.5.3